@model ThaoPhuong.Models.TDONHANG
@{
    ViewBag.Title = "Update";
    Layout = ViewBag.layout;

    string choXuLy = "1";
    string daHuy = "4";
    string catMau = "99d9ab19-203f-4bc1-a2e4-aec6fcaa60de";
    string dangHet = "e5d5b9ad-11c9-4d9c-8aac-261a8d950ec4";
    string selected = Model.DTRANGTHAIID ?? "1";
    bool choPhepSua = selected == choXuLy || (selected == daHuy) || selected == dangHet;
}
<form method="post" enctype="multipart/form-data">
    @{
        if (ViewBag.success != null)
        {
            <div class="alert alert-success" role="alert">@ViewBag.success</div>
        }
        if (ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert">@ViewBag.error</div>
        }
    }
<div class="row">
    <!-- thông tin -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-12">
                <h4>Đơn nhặt hàng</h4>
            </div>
            <input type="text" class="form-control" hidden="hidden" name="ID" value="@Model.ID">
            <!-- So phieu -->
            <div class="col-sm-12 col-md-6 col-lg-6" style="display: none">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Đơn nhặt</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" readonly name="NAME" value="@Model.NAME">
                    </div>
                </div>
            </div>

            <!-- Quay -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Quầy</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control select2" name="DQUAYID">
                            <option value="">Chọn quầy</option>
                            @foreach (ThaoPhuong.Models.DQUAY item in ViewBag.quays)
                            {
                                if (item.ID == Model.DQUAYID)
                                {
                                    <option value="@item.ID" selected>@item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.ID">@item.NAME</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <!-- Tên sp -->
            @*<div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group row">
                <div class="col-4">
                    <label for="">Tên sản phẩm</label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="TENSP" value="@Model.TENSP">
                </div>
            </div>
        </div>*@

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <div class="input-images" name="files" style="padding-top: .5rem;"></div>
                </div>
            </div>

            <!-- Tiền dự kiến -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Tiền dự kiến</label>
                    </div>
                    <div class="col-8">
                        <input type="number" class="form-control" name="TIENDUKIEN" value="@Convert.ToInt32(Model.TIENDUKIEN)">
                    </div>
                </div>
            </div>

            <!-- ghi chu -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Ghi chú</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" name="NOTE" value="@Model.NOTE">
                    </div>
                </div>
            </div>

            <!-- Tiền dự kiến -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">SL đã nhặt</label>
                    </div>
                    <div class="col-8">
                        @{
                            if (ViewBag.isAdmin)
                            {
                                <input id="ipSLDANHAT" type="number" class="form-control" name="SLDANHAT" value="@Convert.ToInt32(Model.SLDANHAT)">
                            }
                            else
                            {
                                <input id="ipSLDANHAT" type="number" class="form-control" name="SLDANHAT" value="@Convert.ToInt32(Model.SLDANHAT)" readonly>
                            }
                        }
                    </div>
                </div>
            </div>

            <!-- Tiền đã nhặt -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Tiền đã nhặt</label>
                    </div>
                    <div class="col-8">
                        @{
                            if (ViewBag.isAdmin)
                            {
                                <input id="ipTienDaNhat" type="number" class="form-control" name="TIENDANHAT" value="@Convert.ToInt32(Model.TIENDANHAT)">
                            }
                            else
                            {
                                <input id="ipTienDaNhat" type="number" class="form-control" name="TIENDANHAT" value="@Convert.ToInt32(Model.TIENDANHAT)" readonly>
                            }
                        }
                    </div>
                </div>
            </div>

            <!-- Tiền nhặt -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Công nhặt</label>
                    </div>
                    <div class="col-8">
                        @{
                            if (ViewBag.isAdmin)
                            {
                                <input type="number" class="form-control ipTIENCONG" name="TIENCONG" value="@Convert.ToInt32(Model.TIENCONG)">
                            }
                            else
                            {
                                <input type="number" class="form-control ipTIENCONG" name="TIENCONG" value="@Convert.ToInt32(Model.TIENCONG)" readonly>
                            }
                        }
                    </div>
                </div>
            </div>

            <!-- trang thai -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Trạng thái</label>
                    </div>
                    <div class="col-8">
                        <select id="cbTrangThai" class="form-control" name="DTRANGTHAIID" @{ if (!ViewBag.isAdmin && !choPhepSua) { <text> disabled="disabled" </text>  }}>
                            @{
                                foreach (ThaoPhuong.Models.DTRANGTHAI item in ViewBag.trangthais)
                                {

                                    bool add = false;
                                    if (ViewBag.isAdmin)
                                    {
                                        add = true;
                                    }
                                    if (!add && !ViewBag.isAdmin)
                                    {
                                        if (selected == item.ID)
                                        {
                                            add = true;
                                        }
                                        if (!add)
                                        {
                                            if ((selected == choXuLy || selected == catMau || selected == dangHet) && item.ID == daHuy && Model.ID != null)
                                            {
                                                add = true;
                                            }

                                            if (selected == daHuy && item.ID == choXuLy)
                                            {
                                                add = true;
                                            }

                                            if ((selected == catMau || selected == dangHet) && item.ID == choXuLy)
                                            {
                                                add = true;
                                            }
                                        }
                                    }
                                    if (add)
                                    {
                                         <option value="@item.ID" @{if (selected == item.ID) { <text> selected</text> } }>@item.NAME</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                @{
                    //if (ViewBag.isAdmin || (!ViewBag.isAdmin && (Model.ID == null || Model.DTRANGTHAIID == "1")))
                    if (ViewBag.isAdmin || (!ViewBag.isAdmin && (Model.ID == null || choPhepSua)))
                    {
                        <button type="submit" class="btn btn-primary float-right col-12 form-group">Cập nhật</button>
                    }
                }
            </div>
        </div>
    </div>
    <!-- Ảnh -->
    @*<div class="col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="input-images" name="files" style="padding-top: .5rem;"></div>
                    </div>
                </div>
            </div>
        </div>*@
</div>
</form>
@Scripts.Render("~/Scripts/jquery-3.6.0.js")
@Scripts.Render("~/Scripts/image-uploader.js")
<script>
    let preloaded = [];
    @{
        if (ViewBag.imgs != null)
        {
            Dictionary<string, string> dic = ViewBag.imgs;
            foreach (string key in dic.Keys)
            {
                <Text>preloaded.push({ id: '@key', src: '@dic[key]' });</Text>
            }
        }
    }
    $('.input-images').imageUploader({
        preloaded: preloaded
    });

    //function renameControls() {
    //    let tienCong = 0;
    //    //$(".table").find("tbody").find("tr").each(function (index, ele) {
    //    //    //$(ele).find("th")[0].innerText = index + 1;
    //    //    let name = "TDONHANGCHITIETs[" + index + "].SOLUONG";
    //    //    $(ele).find('.ipSOLUONG').attr("name", name);
    //    //    name = "TDONHANGCHITIETs[" + index + "].SOLUONGDANHAT";
    //    //    $(ele).find('.ipSOLUONGDANHAT').attr("name", name);
    //    //    name = "TDONHANGCHITIETs[" + index + "].NOTE";
    //    //    $(ele).find('.ipNOTE').attr("name", name);
    //    //    let temp = $(ele).find('.ipSOLUONGDANHAT').val();
    //    //    tienCong += parseInt(temp == "" ? "0" : temp) * 10000;
    //    //});
    //    $('.ipTIENCONG').val(tienCong);
    //}
    @*$('.btn-success').click(function () {
        //<th>1</th>
        let td = $('<tr><td class="col-2"><input type="number" class="form-control ipSOLUONG" placeholder="SL" value="1"></td>' +
            '<td class="col-5"><input type="text" class="form-control ipNOTE" placeholder="Size,màu"></td>' +
            '<td class="col-4"><input type="number" class="form-control ipSOLUONGDANHAT" placeholder="SL đã nhặt" @{ if (!ViewBag.isAdmin) { <text>readonly</text> }}></td>'+
            '<td class="col-1"><div class="btn btn-danger">-</div></td></tr>');
        $(this).closest('table').find("tbody").append(td);
        renameControls();
    });*@

    $(".table").find("tbody").on("click", ".btn-danger", function () {
        $(this).closest("tr").remove();
        renameControls();
    });

    //$(".table").find("tbody").on("change", ".ipSOLUONGDANHAT", function () {
    //    renameControls();
    //    //chuyển trạng thái sang hoàn thành
    //    $("#cbTrangThai").val("3").change();
    //});

    $('#ipSLDANHAT').change((e) => {
        let temp = $('#ipSLDANHAT').val();
        let sl = parseInt(temp == "" ? "0" : temp);
        let tienCong = sl * 10000;
        $('.ipTIENCONG').val(tienCong);
        $("#cbTrangThai").val("3").change();
    });

    $('#ipTienDaNhat').change((e) => {
        let val = $('#ipTienDaNhat').val();
        let num = parseInt(val == "" ? "0" : val);
        if (num > 0) $('#ipTienDaNhat').val(val  + '000');
    });

</script>