@model ThaoPhuong.Models.TDONHANG
@{
    ViewBag.Title = "Update";
    Layout = ViewBag.layout;
}
<form method="post" enctype="multipart/form-data">
    @{
        if (ViewBag.success != null)
        {
            <div class="alert alert-success" role="alert">@ViewBag.success</div>
        }
        if (ViewBag.error != null)
        {
            <div class="alert alert-danger" role="alert">@ViewBag.error</div>
        }
    }
<div class="row">
    <!-- thông tin -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-12">
                <h4>Đơn gom hàng</h4>
            </div>
            <input type="text" class="form-control" hidden="hidden" name="ID" value="@Model.ID">
            <!-- So phieu -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Đơn nhặt</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" readonly name="NAME" value="@Model.NAME">
                    </div>
                </div>
            </div>

            <!-- Quay -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Quầy</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control select2" name="DQUAYID">
                            <option value="">Chọn quầy</option>
                            @foreach (ThaoPhuong.Models.DQUAY item in ViewBag.quays)
                            {
                                if (item.ID == Model.DQUAYID)
                                {
                                    <option value="@item.ID" selected>@item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.ID">@item.NAME</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <!-- Tên sp -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Tên sản phẩm</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" name="TENSP" value="@Model.TENSP">
                    </div>
                </div>
            </div>

            <!-- Tiền dự kiến -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Tiền dự kiến</label>
                    </div>
                    <div class="col-8">
                        @{
                            if (ViewBag.isAdmin)
                            {
                                <input type="number" class="form-control" name="TIENDUKIEN" value="@Convert.ToInt32(Model.TIENDUKIEN)">
                            }
                            else
                            {
                                <input type="number" class="form-control" name="TIENDUKIEN" value="@Convert.ToInt32(Model.TIENDUKIEN)">
                            }
                        }
                    </div>
                </div>
            </div>

            <!-- Tiền đã nhặt -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Tiền đã nhặt</label>
                    </div>
                    <div class="col-8">
                        @{
                            if (ViewBag.isAdmin)
                            {
                                <input type="number" class="form-control" name="TIENDANHAT" value="@Convert.ToInt32(Model.TIENDANHAT)">
                            }
                            else
                            {
                                <input type="number" class="form-control" name="TIENDANHAT" value="@Convert.ToInt32(Model.TIENDANHAT)" readonly>
                            }
                        }
                    </div>
                </div>
            </div>

            <!-- Tiền nhặt -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Công nhặt</label>
                    </div>
                    <div class="col-8">
                        @{
                            if (ViewBag.isAdmin)
                            {
                                <input type="number" class="form-control ipTIENCONG" name="TIENCONG" value="@Convert.ToInt32(Model.TIENCONG)">
                            }
                            else
                            {
                                <input type="number" class="form-control ipTIENCONG" name="TIENCONG" value="@Convert.ToInt32(Model.TIENCONG)" readonly>
                            }
                        }
                    </div>
                </div>
            </div>

            <!-- ghi chu -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Ghi chú</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" name="NOTE" value="@Model.NOTE">
                    </div>
                </div>
            </div>

            <!-- trang thai -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="">Trạng thái</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control select2" name="TRANGTHAI" @{ if (!ViewBag.isAdmin) { <text>disabled="disabled"</text> }}>
                            @{
                                <option value="@Convert.ToInt32(ThaoPhuong.Utils.TrangThaiDon.ChoXuLy)" @{if (Model.TRANGTHAI == (int)ThaoPhuong.Utils.TrangThaiDon.ChoXuLy) { <text> selected</text> } else { <text></text> } }>@ThaoPhuong.Utils.Contants.CHOXULY</option>
                                <option value="@Convert.ToInt32(ThaoPhuong.Utils.TrangThaiDon.DangXuLy)" @{if (Model.TRANGTHAI == (int)ThaoPhuong.Utils.TrangThaiDon.DangXuLy) { <text> selected</text> } else { <text></text> } }>@ThaoPhuong.Utils.Contants.DANGXULY</option>
                                <option value="@Convert.ToInt32(ThaoPhuong.Utils.TrangThaiDon.DaHoanThanh)" @{if (Model.TRANGTHAI == (int)ThaoPhuong.Utils.TrangThaiDon.DaHoanThanh) { <text> selected</text> } else { <text></text> } }>@ThaoPhuong.Utils.Contants.DAHOANTHANH</option>
                                <option value="@Convert.ToInt32(ThaoPhuong.Utils.TrangThaiDon.DaHuy)" @{if (Model.TRANGTHAI == (int)ThaoPhuong.Utils.TrangThaiDon.DaHuy) { <text> selected</text> } else { <text></text> } }>@ThaoPhuong.Utils.Contants.DAHUY</option>
                                <option value="@Convert.ToInt32(ThaoPhuong.Utils.TrangThaiDon.QuayHen)" @{if (Model.TRANGTHAI == (int)ThaoPhuong.Utils.TrangThaiDon.QuayHen) { <text> selected</text> } else { <text></text> } }>@ThaoPhuong.Utils.Contants.QUAYHEN</option>
                                <option value="@Convert.ToInt32(ThaoPhuong.Utils.TrangThaiDon.DonHangCanXuLyVoiQuay)" @{if (Model.TRANGTHAI == (int)ThaoPhuong.Utils.TrangThaiDon.DonHangCanXuLyVoiQuay) { <text> selected</text> } else { <text></text> } }>@ThaoPhuong.Utils.Contants.DONHANGCANXULYVOIQUAY</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Ảnh -->
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div class="input-images" name="files" style="padding-top: .5rem;"></div>
                </div>
            </div>

            @*Thêm chi tiết mặt hàng*@
            <div class="col-12 justify-content-center">
                <div class="form-group p-1">
                    @*<div class="input-images" name="files" style="padding-top: .5rem;"></div>*@
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                @*<th scope="col">#</th>*@
                                <th class="col-2" scope="col">SL</th>
                                <th class="col-4" scope="col">SL đã nhặt</th>
                                <th class="col-5" scope="col">Ghi chú</th>
                                <th class="col-1" scope="col"><div class="btn btn-success">+</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*find data*@
                            @{
                                int count = 0;
                                foreach (ThaoPhuong.Models.TDONHANGCHITIET item in Model.TDONHANGCHITIETs)
                                {
                                    <tr>
                                        <td class="col-2"><input type="number" class="form-control ipSOLUONG" placeholder="S.lượng" name="TDONHANGCHITIETs[@count].SOLUONG" value="@item.SOLUONG"></td>
                                        <td class="col-4"><input type="number" class="form-control ipSOLUONGDANHAT" placeholder="S.lượng" name="TDONHANGCHITIETs[@count].SOLUONGDANHAT" value="@item.SOLUONGDANHAT" @{ if (!ViewBag.isAdmin) { <text>readonly</text> }}></td>
                                        <td class="col-5"><input type="text" class="form-control ipNOTE" placeholder="Ghi chú" name="TDONHANGCHITIETs[@count].NOTE" value="@item.NOTE"></td>
                                        <td class="col-1"><div class="btn btn-danger">-</div></td>
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 form-group">
        @{
            if (ViewBag.isAdmin || (!ViewBag.isAdmin &&  (Model.ID == null || Model.TRANGTHAI == (int)ThaoPhuong.Utils.TrangThaiDon.ChoXuLy)))
            {
                <button type="submit" class="btn btn-primary float-right">Cập nhật</button>
            }
        }
    </div>
</div>
</form>
@Scripts.Render("~/Scripts/jquery-3.6.0.js")
@Scripts.Render("~/Scripts/image-uploader.js")
<script>
    let preloaded = [];
    @{
        if (ViewBag.imgs != null)
        {
            Dictionary<string, string> dic = ViewBag.imgs;
            foreach (string key in dic.Keys)
            {
                <Text>preloaded.push({ id: '@key', src: '@dic[key]' });</Text>
            }
        }
    }
    $('.input-images').imageUploader({
        preloaded: preloaded
    });

    function renameControls() {
        let tienCong = 0;
        $(".table").find("tbody").find("tr").each(function (index, ele) {
            //$(ele).find("th")[0].innerText = index + 1;
            let name = "TDONHANGCHITIETs[" + index + "].SOLUONG";
            $(ele).find('.ipSOLUONG').attr("name", name);
            name = "TDONHANGCHITIETs[" + index + "].SOLUONGDANHAT";
            $(ele).find('.ipSOLUONGDANHAT').attr("name", name);
            name = "TDONHANGCHITIETs[" + index + "].NOTE";
            $(ele).find('.ipNOTE').attr("name", name);
            let temp = $(ele).find('.ipSOLUONGDANHAT').val();
            tienCong += parseInt(temp == "" ? "0" : temp) * 10000;
        });
        $('.ipTIENCONG').val(tienCong);
    }
    $('.btn-success').click(function () {
        //<th>1</th>
        let td = $('<tr><td class="col-2"><input type="number" class="form-control ipSOLUONG" placeholder="SL"></td>' +
            '<td class="col-4"><input type="number" class="form-control ipSOLUONGDANHAT" placeholder="SL đã nhặt" @{ if (!ViewBag.isAdmin) { <text>readonly</text> }}></td>'+
            '<td class="col-5"><input type="text" class="form-control ipNOTE" placeholder="Ghi chú"></td>' +
            '<td class="col-1"><div class="btn btn-danger">-</div></td></tr>');
        $(this).closest('table').find("tbody").append(td);
        renameControls();
    });

    $(".table").find("tbody").on("click", ".btn-danger", function () {
        $(this).closest("tr").remove();
        renameControls();
    });

    $(".table").find("tbody").on("change", ".ipSOLUONGDANHAT", function () {
        renameControls();
    });
</script>