@model List<ThaoPhuong.Models.TDONHANG>
@{
    ViewBag.Title = "Index";
    Layout = ViewBag.layout;
}
<h2>Đơn hàng nhặt</h2>
@*lọc từ ngày đến ngày, khách hàng, số phiếu*@
<form>
    <div class="row justify-content-end">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-1">
                    Từ:
                </div>
                <div class="col-5">
                    <input id="startDate" name="fDateStr" value="@ViewBag.fDateStr" />
                </div>
                <div class="col-1">
                    Đến:
                </div>
                <div class="col-5">
                    <input id="endDate" name="tDateStr" value="@ViewBag.tDateStr" />
                </div>
            </div>
            <hr />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4" @{ if (!ViewBag.isAdmin) { <text> style="display:none" </text>  } }>
            <div class="row">
                <div class="col-1">
                    Ud từ:
                </div>
                <div class="col-5">
                    <input id="startUpdate" name="fUpdateStr" value="@ViewBag.fUpdateStr" />
                </div>
                <div class="col-1">
                    Đến:
                </div>
                <div class="col-5">
                    <input id="endUpdate" name="tUpdateStr" value="@ViewBag.tUpdateStr" />
                </div>
            </div>
            <hr />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4" @{ if (!ViewBag.isAdmin) { <text> style="display:none" </text>  } }>
            <div class="row">
                <div class="col-4">
                    Khách hàng
                </div>
                <div class="col-8">
                    <select class="form-control select2" name="DKHACHHANGID">
                        <option value="">Chọn khách hàng</option>
                        @foreach (ThaoPhuong.Models.DKHACHHANG item in ViewBag.khachHangs)
                        {
                            <option value="@item.ID" @{if (ViewBag.DKHACHHANGID == item.ID) { <text> selected</text>} else {<text></text>}}>@item.NAME</option>
                        }
                    </select>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4" @{ if (!ViewBag.isAdmin) { <text> style="display:none" </text>  } }>
            <div class="row">
                <div class="col-4">
                    Quầy
                </div>
                <div class="col-8">
                    <select class="form-control select2" name="DQUAYID">
                        <option value="">Chọn quầy</option>
                        @foreach (ThaoPhuong.Models.DQUAY item in ViewBag.quays)
                        {
                            <option value="@item.ID" @{if (ViewBag.DQUAYID == item.ID) { <text> selected</text>} else {<text></text>}}>@item.NAME</option>
                        }
                    </select>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-4">
                    Trạng thái
                </div>
                <div class="col-8">
                    <select class="form-control" name="DTRANGTHAIID">
                        <option value="TatCa">Chọn trạng thái</option>
                        @{
                            foreach (ThaoPhuong.Models.DTRANGTHAI item in ViewBag.trangthais)
                            {
                                <option value="@item.ID" @{if (ViewBag.DTRANGTHAIID == item.ID) { <text> selected</text>}}>@item.NAME</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <hr />
        </div>
        @*Sắp xếp: Ngày, vị trí --- Tăng hoặc giảm*@
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-4">
                    Sắp xếp
                </div>
                <div class="col-4">
                    <select class="form-control" name="sortName">
                        @{
                            if (ViewBag.isAdmin)
                            {
                                <option value="vitri" @{if (ViewBag.sortName == "vitri") { <text> selected</text> } else { } }>Vị trí</option>
                            }
                        }
                        <option value="ngay" @{if (ViewBag.sortName == "ngay") { <text> selected</text> } else { } }>Ngày</option>
                    </select>
                </div>
                <div class="col-4">
                    <select class="form-control" name="sortDirection">
                        <option value="tang" @{if (ViewBag.sortDirection == "tang") { <text> selected</text> } else { } }>Tăng</option>
                        <option value="giam" @{if (ViewBag.sortDirection == "giam") { <text> selected</text> } else { } }>Giảm</option>
                    </select>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row justify-content-end">
                @{
                    if (ViewBag.isAdmin)
                    {
                        <div class="col-3">
                            Giao dịch
                        </div>
                        <div class="col-5">
                            <select class="form-control" name="giaoDich">
                                <option value="-1" @{if (ViewBag.giaoDich == "-1") { <text> selected</text> } else { } }>Tất cả</option>
                                <option value="0" @{if (ViewBag.giaoDich == "0") { <text> selected</text> } else { } }>Chốt Zalo</option>
                                <option value="1" @{if (ViewBag.giaoDich == "1") { <text> selected</text> } else { } }>Nhặt</option>
                                <option value="2" @{if (ViewBag.giaoDich == "2") { <text> selected</text> } else { } }>Tìm</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary" style="margin-right: 15px">Tải dữ liệu</button>
                        </div>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary col-12">Tải dữ liệu</button>
                    }
                }
            </div>
        </div>
    </div>
</form>
<div class="row">
    @{
        foreach (ThaoPhuong.Models.TDONHANG item in Model)
        {
            string alertStr = "warning";
            if (item.DTRANGTHAIID == "3" || item.DTRANGTHAIID == "7")
            {
                alertStr = "success";
            }
            if (item.DTRANGTHAIID == "4")
            {
                alertStr = "danger";
            }
            DateTime time = item.TIMECREATED ?? DateTime.Now;
            string logo = "";
            foreach (var anh in item.DANHs)
            {
                if (logo.Length == 0)
                {
                    logo = "/Images/Upload/" + anh.PATH;
                }
            }
            string details = "";
            foreach (ThaoPhuong.Models.TDONHANGCHITIET detail in item.TDONHANGCHITIETs)
            {
                if (details.Length > 0)
                {
                    details += "; ";
                }
                details += detail.SOLUONG + ": " + detail.NOTE + ": " + (detail.SOLUONGDANHAT == null ? "0" : detail.SOLUONGDANHAT.ToString());
            }
            //#ffbab5;
            <div class="col-sm-12 col-md-6 col-lg-4 itemDonNhat" data-id="@item.ID">
                <div class="row p-1 m-1" style="background-color: whitesmoke; border-radius: 10px;">
                    <div class="col-5" style="border-radius: 15px 15px 15px 15px; background-image: url('@logo'); background-size: 100% 100%; background-repeat: no-repeat;">
                    </div>
                    <div class="col-7" style="border-radius: 0px 15px 15px 0px; padding-left: 10px;">
                        <div class="row">
                            <div class="col-9">
                                <div class="row" style="padding-left: 10px;">
                                    <table border="0">
                                        <tr>
                                            <td>Ngày</td>
                                            <td>@time.ToString("dd/MM HH:mm")</td>
                                        </tr>
                                        @*<tr>
                                            <td colspan="2">@item.NAME</td>
                                        </tr>*@
                                        <tr>
                                            <td>Quầy</td>
                                            <td style="padding-left:5px;">
                                                @{if (item.DQUAY != null)
                                                    { <text>@item.DQUAY.NAME</text> }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Kh</td>
                                        <td>@item.DKHACHHANG.NAME</td>
                                    </tr>
                                    <tr>
                                        <td>T.tiền</td>
                                        <td style="padding-left:5px;">@ThaoPhuong.Utils.DbUtils.NumberToText(item.TONGCONG)</td>
                                    </tr>
                                    <tr>
                                        <td>G.chú</td>
                                        <td style="padding-left:5px;">@item.NOTE</td>
                                    </tr>
                                     <tr>
                                        <td>Đ.nhặt:</td>
                                        <td style="padding-left:5px;">@ThaoPhuong.Utils.DbUtils.NumberToText(item.SLDANHAT)</td>
                                    </tr>
                                    @if (details.Length > 0)
                                    {
                                        <tr>
                                            <td colspan="2">@details</td>
                                        </tr>
                                    }
                                    @if (item.TIMEUPDATED != null)
                                    {
                                        time = item.TIMEUPDATED ?? DateTime.Now;
                                        <tr>
                                            <td colspan="2" style="padding-left:5px;">@time.ToString("dd/MM/yy HH:mm")</td>
                                        </tr>
                                    }
                                    </table>
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="alert alert-@alertStr h-100 w-100" role="alert" style="padding:3px;">
                                    @item.DTRANGTHAI.NAME
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
@Scripts.Render("~/Scripts/jquery-3.6.0.js")
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    $(document).ready(function () {
        //get param from url
        let loadIndex = getUrlParameter("loadIndex");
        if (loadIndex != "") {
            $('html, body').animate({
                scrollTop: parseInt(loadIndex)
            }, 200);
        }
    });

    $('.itemDonNhat').click(function () {
        let id = $(this).attr("data-id");
        let loadIndex = $(this).offset().top;
        let paramS = window.location.search;
        paramS = paramS.replace("fDateStr", "pfDateStr");
        paramS = paramS.replace("tDateStr", "ptDateStr");
        paramS = paramS.replace("fUpdateStr", "pfUpdateStr");
        paramS = paramS.replace("tUpdateStr", "ptUpdateStr");
        paramS = paramS.replace("DKHACHHANGID", "pDKHACHHANGID");
        paramS = paramS.replace("DQUAYID", "pDQUAYID");
        paramS = paramS.replace("DTRANGTHAIID", "pDTRANGTHAIID");
        paramS = paramS.replace("sortName", "psortName");
        paramS = paramS.replace("sortDirection", "psortDirection");
        paramS = paramS.replace("giaoDich", "pgiaoDich");

        let url = "/DonNhat/AddOrUpdate/" + id + paramS;
        if (paramS.length == 0) {
            url += "?";
        }
        else {
            url += "&";
        }
        url += "loadIndex=" + loadIndex;
        window.location.href = url;
    });
</script>