@model ThaoPhuong.Models.DQUAY
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
    int giaoDich = Model.GIAODICH ?? 0;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Chỉnh sửa</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div class="form-group">
        @Html.LabelFor(model => model.NAME, "Tên quầy", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.POSITION, "Vị trí", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.POSITION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.POSITION, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GIAODICH, "Giao dịch", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" name="GIAODICH">
                <option value="0" @{if (giaoDich == 0) { <text> selected</text> } }>Chốt Zalo</option>
                <option value="1" @{if (giaoDich == 1) { <text> selected</text> } }>Nhặt</option>
                <option value="2" @{if (giaoDich == 2) { <text> selected</text> } }>Tìm</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thay đổi" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Danh sách", "Index")
</div>
