@model IEnumerable<ThaoPhuong.Models.DQUAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>Danh sách quầy</h2>
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Quầy
        </th>
        <th>
            Vị trí
        </th>
        <th>
            Giao dịch
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.POSITION)
    </td>
    <td>
        @{
            int giaoDich = item.GIAODICH ?? 0;
            switch (giaoDich)
            {
                case 0: { <text>Chốt zalo</text> } break;
                case 1: { <text>Nhặt</text> } break;
                case 2: { <text>Tìm</text> } break;
            }
        }
    </td>
    <td>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
